[user]
        name = {{ .name }}
        email = {{ .email }}
        signingkey = {{ .signingkey }}
[pull]
        rebase = false
[commit]
        gpgsign = true
[tag]
        gpgsign = true        
[gpg]
        format = ssh