{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if ! command -v brew &> /dev/null; then
    echo "Homebrew is not installed. Installing..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    source ~/.zshrc
fi

brew bundle --file=/dev/stdin <<EOF

brew "chezmoi"
brew "coreutils"
brew "jq"
brew "gh"
brew "grpcurl"
brew "mise"
brew "neovim"
brew "sheldon"
brew "starship"
cask "arc"
cask "apidog"
cask "cleanshot"
cask "figma"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "obsidian"
cask "orbstack"
cask "raycast"
cask "slack"
cask "visual-studio-code"

EOF
{{ end -}}