{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --file=/dev/stdin <<EOF

brew "coreutils"
brew "jq"
brew "gh"
brew "mise"
brew "neovim"
brew "sheldon"
brew "starship"
cask "apidog"
cask "cleanshot"
cask "figma"
cask "font-jetbrains-mono-nerd-font"
cask "ghostty"
cask "obsidian"
cask "orbstack"
cask "raycast"

EOF
{{ end -}}