[user]
        name = {{ .name }}
        email = {{ .email }}
        signingkey = {{ .signingkey }}
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[pull]
        rebase = false
[commit]
        gpgsign = true
[tag]
        gpgsign = true
[ghq]
        root = ~/ghq
[gpg]
        format = ssh
[wt]
        basedir = ".worktrees"